{% extends 'base.html.twig' %}
{% block body %}
<!-- page start-->
<div class="col-sm-8">
<section class="panel">
<div class="chat-room-head">
<h3><i class="fa fa-angle-right"></i> Gérer les tournois</h3>
</div>
<div class="panel-body">
<h1> {{ controller_name }}! ✅</h1>
<ul>
<li>Le controller est ici <code><a href="{{'C:/wamp64/www/agora5/src/Controller/TournoisController.php'|file_link(0)}}">src/Controller/AccueilController.php</a></code></li>
<li>La vue est ici <code><a href="{{ 'C:/wamp64/www/agora5/templates/tournois/index.html.twig'|file_link(0)}}">templates/accueil/index.html.twig</a></code></li>
</ul>
</div><!-- fin div panel-body-->
</section><!-- fin section tournois-->
</div><!--fin div col-sm-8-->
{% endblock %}