<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <title>Test d'utilisation de TWIG avec le template layout.html.twig</title>
</head>
<body>
<h1>Bonjour {{ nom }}.</h1>
{% block central %}
{% endblock %}
</body>
</html>
