<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <title>conditionnelle avec TWIG</title>
</head>
<body>
 <h1>Test de conditionnelle avec TWIG</h1>
<h2>Bonjour
{% set prenom = 'Yannick' %}
 {# affichage de la variable name #}
 {% if (nom == 'narbey') %}
 {{ prenom }}
 {% else %}
 {{ nom }}
 {% endif %}
 .</h2>
</body>
</html>